.service-list{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.service-item{
    text-align: center;
    padding: 20px;
    border:  1px solid rgba(0, 0, 0, 0.03);
    border-radius: 7px;
    width: 210px;
}